@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.CheckReferralDetailsModel
@{
}


<main class="govuk-main-wrapper " id="main-content" role="main">

    <fieldset class="govuk-fieldset">
      <h1 class="govuk-fieldset__heading-l">
          Check the details you entered
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is anyone in the family in danger or being harmed?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/ProfessionalReferral/Safeguarding" >
                Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have consent from the family?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/ProfessionalReferral/Consent" >
                Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Full name
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.FullName
            </dd>
            <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/ProfessionalReferral/FamilyContact" >
                    Change<span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact details
                </dt>
                <dd class="govuk-summary-list__value" id="test">
                    @if(!string.IsNullOrEmpty(Model.Email))
                    {
                        @Model.Email
                        <br>
                    }
                    
                    @if(!string.IsNullOrEmpty(Model.Telephone))
                    {
                        @Model.Telephone
                        <br>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        @Model.Textphone
                        <br>
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/ProfessionalReferral/ContactDetails" >
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why does this person or family need support from this service?
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.ReasonForSupport
          </dd>
          <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/ProfessionalReferral/WhySupport" >
              Change<span class="govuk-visually-hidden"> type</span>
            </a>
          </dd>
        </div>
      </dl>

    <form method="post">
      <button class="govuk-button">
        Submit request for support
      </button>
    </form>
    </fieldset>

</main>