@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ContactDetailsModel
@{
}


<main class="govuk-main-wrapper " id="main-content" role="main">

     <form method="post">

         <input asp-for="@Model.Id" type="hidden" >
         <input asp-for="@Model.Name" type="hidden">
         <input asp-for="@Model.FullName" type="hidden" >

      <div class="govuk-form-group">
          <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
               How can the service contact @Model.FullName?
            </h1>
          </legend>
              @{
                    if (Model.ValidationValid == false)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must enter the contact details
                        </p>
                    }
                }
          
        </fieldset>
      </div>
     </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <div id="contact-hint" class="govuk-hint">
                        Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ContactSelectionEmail" name="ContactSelection" type="checkbox" value="email" data-aria-controls="conditional-contact" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "email") ? "data-conditional-active" : "")>
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                                Email
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-email">
                                    Email address
                                </label>
                                @if (Model.EmailValid == false)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Please enter a valid email address
                                    </p>
                                }
                                <input class="govuk-input govuk-!-width-one-half" id="Email" name="Email" type="email" spellcheck="false" autocomplete="email">
                            </div>

                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ContactSelectionTelephone" name="ContactSelection" type="checkbox" value="telephone" data-aria-controls="conditional-contact-2" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "telephone") ? "data-conditional-active" : "")>
                            <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                                Telephone
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-phone">
                                    Telephone number
                                </label>
                                @if (Model.TelephoneValid == false)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Please enter a valid phone number
                                    </p>
                                }
                                <input class="govuk-input govuk-!-width-one-third" id="Telephone" name="Telephone" type="tel" autocomplete="tel">
                            </div>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ContactSelectionTextphone" name="ContactSelection" type="checkbox" value="textphone" data-aria-controls="conditional-contact-3" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "textphone") ? "data-conditional-active" : "")>
                            <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                                Text message
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Telephone number
                                </label>
                                @if (Model.TelephoneValid == false)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Please enter a valid phone number for texts
                                    </p>
                                }
                                <input class="govuk-input govuk-!-width-one-third" id="Textphone" name="Textphone" type="tel" autocomplete="tel">
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
     <button type="submit" class="govuk-button">
        Continue
     </button>
    </form>

</main>