@page "{postCode}"
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.LocalOfferResultsModel
@{
}

<a asp-page="/ProfessionalReferral/Search" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <form method="post">

            <!-- Hidden fields -->
            <input asp-for="@Model.SearchPostCode" type="hidden" />

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l"> @Model.SearchResults.TotalCount services found</h1>
                <p class="govuk-caption-m">
                    Showing results for <a href="search">

                        @Model.OutCode

                    </a>
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <button class="govuk-button govuk-button--secondary filters-mobile" id="buttonFilters" onclick="displayFilters();">Show filters</button>
                <button class="govuk-button govuk-button--secondary filters-mobile" style="display: none" id="buttonFilters2" onclick="hideFilters();">Hide filters</button>
                <div class="filters-component panel-component__content" id="filters-component" data-controller="filters">
                    <div class="filters-component__heading">
                        <h2 class="govuk-heading-m">Filter results</h2>
                    </div>

                    <div class="filters-component__groups">
                        <div class="filters-component__groups__group" data-filters-target="group" data-group="subjects">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Category</h3></legend>
                            <div>
                                <div class="searchable-collection-component" data-controller="searchable-collection">
                                    <div class=" searchable-collection-component--scrollable">
                                        <div class="searchable-collection-component__search">
                                            <input aria-describedby="publishers-job-listing-job-details-form-subjects-hint" aria-expanded="true"
                                                   aria-label="Subject" aria-owns="subjects__listbox"
                                                   class="govuk-input icon icon--left icon--search js-action" id="filter"
                                                   placeholder="Search" role="combobox">
                                            <div aria-live="assertive" class="govuk-visually-hidden collection-match" role="status"></div>
                                        </div>
                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                                    <input type="hidden" name="subjects[]" value="" autocomplete="off">
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Activities for children aged 0-5
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Birth registration
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Debt and welfare advice
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Domestic abuse support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Early Childhood Education and Care (ECEC) and financial support (Tax-Free Childcare, Universal Credit childcare)
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Early Language and the Home Learning Environment
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Health Visiting
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Housing
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Infant Feeding Support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Intensive targeted family support services, including those funded by the Supporting Families programme
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Local authority 0-19 public health services, based on local needs assessments
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Mental health services (beyond Start for Life parent-infant mental health)
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Midwifery/maternity
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Nutrition and weight management
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Oral health improvement
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Parent-Infant Relationships and Perinatnatal Mental Health Support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Parenting Support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Reducing Parental Conflict
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            SEND support and services (inclusive of the Start for Life period)
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Stop smoking support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Substance (alcohol/drug) misuse support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Support for separating and separated parents
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Youth justice services
                                                        </label>
                                                    </div>
                                                    <div class="govuk-checkboxes__item" id="filterable">
                                                        <input class="govuk-checkboxes__input" id="types" name="types[]" type="checkbox" value="">
                                                        <label class="govuk-label govuk-checkboxes__label" for="types">
                                                            Youth services - universal and targeted
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DONE - COST -->
                        <div class="filters-component__groups__group">
                            <div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Cost </h3></legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="cost" name="CostSelection" type="checkbox" value="free" @(Model.CostSelection != null && Model.CostSelection.Any(x => x == "free") ? "checked" : "") data-testid="checkbox-free">
                                                <label class="govuk-label govuk-checkboxes__label" for="cost">
                                                    Free
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="cost-2" name="CostSelection" type="checkbox" value="paid" @(Model.CostSelection != null && Model.CostSelection.Any(x => x == "paid") ? "checked" : "") data-testid="checkbox-paid">
                                                <label class="govuk-label govuk-checkboxes__label" for="cost-2">
                                                    Pay to use
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- DONE - Children and young people -->
                        <div class="filters-component__groups__group">
                            <div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Children and young people</h3></legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="ForChildrenAndYoungPeople" name="ForChildrenAndYoungPeople" value="true" type="checkbox" aria-controls="age-range" @((Model.ForChildrenAndYoungPeople == true) ? "checked" : "") data-testid="checkbox-children">
                                                <label class="govuk-label govuk-checkboxes__label" for="age-3">
                                                    For children and young people
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="age-range">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label" for="ageNumber">
                                                        Age
                                                    </label>
                                                    <select asp-for="SearchAge" asp-items="Model.AgeRange" class="govuk-select" data-testid="select-children">
                                                        <option value="" selected disabled>Select age</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- TODO - Delivery method -->
                        <div class="filters-component__groups__group">
                            <div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Delivery method</h3></legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="delivery-2" name="delivery" type="checkbox" value="In person" aria-controls="flexible-location">
                                                <label class="govuk-label govuk-checkboxes__label" for="delivery-2">
                                                    In person
                                                </label>
                                            </div>
                                            <!--                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional&#45;&#45;hidden govuk-!-margin-bottom-1" id="flexible-location">-->
                                            <!--                    <div class="govuk-form-group">-->
                                            <!--                      <div class="govuk-checkboxes__item">-->
                                            <!--                        <input class="govuk-checkboxes__input" id="delivery" name="delivery" type="checkbox" value="flexible">-->
                                            <!--                        <label class="govuk-label govuk-checkboxes__label" for="delivery">-->
                                            <!--                          In a location chose by the family-->
                                            <!--                        </label>-->
                                            <!--                      </div>-->
                                            <!--                    </div>-->
                                            <!--                  </div>-->
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="delivery" name="delivery" type="checkbox" value="Online">
                                                <label class="govuk-label govuk-checkboxes__label" for="delivery">
                                                    Online
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="delivery-3" name="delivery" type="checkbox" value="Telephone">
                                                <label class="govuk-label govuk-checkboxes__label" for="delivery-3">
                                                    Telephone
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- TODO - Location -->
                        <div class="filters-component__groups__group">
                            <div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Location</h3></legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="age-4" name="age" type="checkbox" value="Flexible">
                                                <label class="govuk-label govuk-checkboxes__label" for="age-4">
                                                    Families can choose the location
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- TODO - Language -->
                        <div class="filters-component__groups__group">
                            <div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Language</h3></legend>
                                        <select class="govuk-select" id="chooseLanguage" name="chooseLanguage">
                                            <option value="All languages" selected>All languages</option>
                                            <option value="Arabic">Arabic</option>
                                            <option value="Bengali">Bengali</option>
                                            <option value="Chinese">Chinese</option>
                                            <option value="English">English</option>
                                            <option value="French">French</option>
                                            <option value="German">German</option>
                                            <option value="Gujarati">Gujarati</option>
                                            <option value="Italian">Italian</option>
                                            <option value="Lithuanian">Lithuanian</option>
                                            <option value="Persian/Farsi">Persian/Farsi</option>
                                            <option value="Polish">Polish</option>
                                            <option value="Portuguese">Portuguese</option>
                                            <option value="Punjabi">Punjabi</option>
                                            <option value="Romanian">Romanian</option>
                                            <option value="Russian">Russian</option>
                                            <option value="Somali">Somali</option>
                                            <option value="Spanish">Spanish</option>
                                            <option value="Tagalog/Filipino">Tagalog/Filipino</option>
                                            <option value="Tamil">Tamil</option>
                                            <option value="Turkish">Turkish</option>
                                            <option value="Ukrainian">Ukrainian</option>
                                            <option value="Urdu">Urdu</option>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-testid="button-apply-filters">
                        Apply filters
                    </button>

                    <p><a href="">Clear filters</a></p>
                </div>
            </div>

            <!-- DONE - Search Results -->
            <div class="govuk-grid-column-two-thirds vacancies_index">
                <ul class="search-results" role="list" >

                    @foreach (var item in Model.SearchResults.Items)
                    {
                        <li role="listitem" tab-index="0">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                                <a class="govuk-link" asp-page="/ProfessionalReferral/LocalOfferDetail" asp-route-id="@item.Id" data-testid=@item.Name.ToLower().Replace(" ", "")>@item.Name</a>
                            </h2>
                            <p class="govuk-caption-m">
                                @if (@item?.Service_at_locations?.FirstOrDefault()?.Location?.Physical_addresses?.FirstOrDefault() != null)
                                {
                                    @Model.GetAddressAsString(@item?.Service_at_locations?.FirstOrDefault()?.Location?.Physical_addresses?.FirstOrDefault()?? new ServiceDirectory.Shared.Models.Api.OpenReferralPhysicalAddresses.OpenReferralPhysicalAddressDto())
                                    ;
                                }
                            </p>
                            <dl class="govuk-body-s dtmargins">
                                <dt class="govuk-!-font-weight-bold">Category</dt>
                                <dd>TBD</dd>
                            </dl>
                            <dl class="govuk-body-s dtmargins">
                                <dt class="govuk-!-font-weight-bold">Cost</dt>
                                @*<dd>£4 every session</dd>*@

                                @if (item?.Cost_options?.FirstOrDefault()?.Amount != null && item?.Cost_options?.FirstOrDefault()?.Amount > 0)
                                {
                                    <dd>£@item?.Cost_options?.FirstOrDefault()?.Amount every @item?.Cost_options?.FirstOrDefault()?.Amount_description.ToLower()</dd>
                                }
                                else
                                {
                                    <dd>Free</dd>
                                }
                            </dl>
                            <dl class="govuk-body-s dtmargins">
                                <dt class="govuk-!-font-weight-bold">Delivery method</dt>
                                <dd>
                                    @if (item?.ServiceDelivery != null && item?.ServiceDelivery.Count > 0)
                                        @Model.GetDeliveryMethodsAsString(item.ServiceDelivery)



                                    </dd>
                                </dl>
                                <dl class="govuk-body-s dtmargins">
                                    <dt class="govuk-!-font-weight-bold">Language</dt>
                                    <dd>
                                    @if (item?.Languages != null && item?.Languages.Count > 0)
                                        @Model.GetLanguagesAsString(item.Languages)



                                    </dd>
                                </dl>
                            </li>
                    }

                    <!-- DONE - Navigation -->
                    <nav class="govuk-pagination" role="navigation" aria-label="results">
                        <ul class="govuk-pagination__list">
                            @for (int i = 1; i <= Model.SearchResults.TotalPages; i++)
                            {
                                <li class="govuk-pagination__item @(Model.SearchResults.PageNumber == i ? "govuk-pagination__item--current" : "") ">
                                    <a class="govuk-link govuk-pagination__link" asp-page="/pagination" asp-route-currentpage="@i">@i</a>
                                </li>
                            }
                        </ul>
                        <div class="govuk-pagination__next">
                            <a class="govuk-link govuk-pagination__link" asp-page="/pagination" asp-route-currentpage="@(Model.CurrentPage+1)" rel="next">
                                <span class="govuk-pagination__link-title">Next</span>
                                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                            </a>
                        </div>
                    </nav>
                </ul>
            </div>
        </form>
    </div>

</main>