@page "{id:Guid}"
@using FamilyHubs.ReferralUi.Ui.Extensions
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.LocalOfferDetailModel
@{
}

<a href="@Model.ReturnUrl" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-testid="service-name">@Model.LocalOffer.Name</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">

            <table class="govuk-table">
                <thead class="govuk-table__head">
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Category</th>
                        <td class="govuk-table__cell">
                            @if (@Model.LocalOffer != null && @Model.LocalOffer.Service_taxonomys != null)
                            {
                                foreach (var serviceTaxonomy in @Model.LocalOffer.Service_taxonomys)
                                {
                                    if (serviceTaxonomy != null && serviceTaxonomy.Taxonomy != null)
                                    {
                                        @serviceTaxonomy.Taxonomy.Name
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Cost</th>
                        @if (@Model.LocalOffer?.Cost_options?.FirstOrDefault()?.Amount != null && @Model.LocalOffer?.Cost_options?.FirstOrDefault()?.Amount > 0)
                        {
                            <td class="govuk-table__cell" data-testid="cost-value">
                                £@Model.LocalOffer?.Cost_options?.FirstOrDefault()?.Amount every @Model.LocalOffer?.Cost_options?.FirstOrDefault()?.Amount_description.ToLower()
                            </td>
                        }
                        else
                        {
                            <td class="govuk-table__cell" data-testid="cost-value">Free</td>
                        }

                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Delivery method</th>
                        <td class="govuk-table__cell" data-testid="delivery-value">
                            @if (@Model.LocalOffer?.ServiceDelivery != null && @Model.LocalOffer?.ServiceDelivery?.Count > 0)
                                @Model.GetDeliveryMethodsAsString(@Model.LocalOffer?.ServiceDelivery)




                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">For children and young people</th>
                            @if (@Model.LocalOffer?.Eligibilities?.FirstOrDefault()?.Eligibility != null)
                            {
                                @if (@Model.LocalOffer?.Eligibilities?.FirstOrDefault()?.Maximum_age > 100)
                                {
                                    <td class="govuk-table__cell" data-testid="eligibilities-value"> @Model.LocalOffer?.Eligibilities?.FirstOrDefault()?.Minimum_age to 25+ years old</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell" data-testid="eligibilities-value"> @Model.LocalOffer?.Eligibilities?.FirstOrDefault()?.Minimum_age to @Model.LocalOffer?.Eligibilities?.FirstOrDefault()?.Maximum_age years old</td>
                                }
                            }
                            else
                            {
                                <td class="govuk-table__cell" data-testid="eligibilities-value"></td>
                            }

                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Families can choose location</th>
                        <td class="govuk-table__cell">TBD</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Languages</th>
                        <td class="govuk-table__cell" data-testid="language-value">
                            @if (@Model.LocalOffer?.Languages != null && @Model.LocalOffer?.Languages?.Count > 0)
                                @Model.GetLanguagesAsString(@Model.LocalOffer.Languages)




                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="govuk-heading-m">More details</h2>
                <p data-testid="description-value">@Model.LocalOffer?.Description</p>
                <h2 class="govuk-heading-m">Connect a family to this service</h2>

                <!-- Contact details -->
                <!-- Phone-->
                @if (!string.IsNullOrEmpty(@Model.Phone))
                {
                    <dl class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="detailsphone">
                            <a href="tel:@Model.Phone">@Model.Phone</a>
                        </dd>
                    </dl>
                }
                

                <!--Email-->
                @if (!string.IsNullOrEmpty(@Model.LocalOffer?.Email))
                {
                    <dl class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="detailsemail">
                            <a href="mailto:@Model.LocalOffer?.Email">
                                @Model.LocalOffer?.Email
                            </a>
                        </dd>
                    </dl>
                }
                

                <!--Address-->
                @if (!string.IsNullOrEmpty(@Model.Postal_code))
                {
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="detailsaddress">
                        @if (!string.IsNullOrEmpty(Model.Address_1))
                        {
                            @Model.Address_1

                            <br />
                        }
                        @if (!string.IsNullOrEmpty(@Model.City))
                        {
                            @Model.City

                            <br />
                        }
                        @if (!string.IsNullOrEmpty(@Model.State_province))
                        {
                            @Model.State_province

                            <br />
                        }
                        @if (!string.IsNullOrEmpty(@Model.Postal_code))
                        {
                            @Model.Postal_code

                            <br />
                        }
                    </dd>
                </dl>
                }
            

            <!--Website-->
            @if (!string.IsNullOrEmpty(@Model.LocalOffer?.Url))
            {
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Website
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="detailswebsite">
                        <a href="https://@Model.LocalOffer?.Url">
                            @Model.LocalOffer?.Url
                        </a>
                    </dd>
                </dl>    
            }
            
            <form method="post">
                <input asp-for="@Model.Name" type="hidden">
                <input asp-for="@Model.ServiceId" type="hidden">
                @if (Model.IsReferralEnabled && Model?.LocalOffer?.ServiceType?.Name == "Information Sharing")
                {
                    <button type="submit" class="govuk-button">
                        Connect family to service
                    </button>
                }
            </form>
        </div>
    </div>

</main>


