@page "{postCode}"
@using FamilyHubs.ReferralUi.Ui.Extensions
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.LocalOfferResultsModel
@{
    ViewData["Title"] = "Search results";
    ViewData["Description"] = "Description TBC";
}

<a asp-page="/ProfessionalReferral/Search" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper custom-main" id="main-content" role="main">


    <div class="govuk-grid-row">
        <form method="post">

            <!-- Hidden fields -->
            <input asp-for="@Model.SearchPostCode" type="hidden" />

            @if (Model.SearchResults.TotalCount == 0 && Model.InitialLoad == true)
            {
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">No results found</h1>
                    <p class="govuk-caption-m">
                        Sorry, there are no activities, groups or services listed in your area yet.
                    </p>
                    <p class="govuk-caption-m">
                        You can
                        <a href="https://www.gov.uk/find-local-council" data-testid="">check your council’s website</a>
                        for your local family support services.
                    </p>
                </div>
            }
            else
            {
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="search-results-title">
                        Services, groups and activities in this area
                    </h1>
                    <!-- <h2 class="govuk-heading-s">52 services found</h2> -->
                    <!-- <p class="govuk-caption-m">Showing 52 search results for <a href="search"> -->

                    <div class="govuk-button-group app-results-filter-overlay--show-filters js-show-hide-filters" data-module="show-filters-button-group">
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="show-filters-button">Show filters</button>
                    </div>

                    <p class="govuk-caption-m govuk-!-margin-top-4" data-testid="number-of-results">
                        @Model.SearchResultsSnippet
                        <a class="govuk-link" asp-page="/ProfessionalReferral/Search" data-testid="postcodelink">
                            @Model.SearchPostCode
                        </a>
                    </p>
                </div>

                <div class="govuk-grid-column-one-third">
                    <div class="moj-filter filters-component panel-component__content" id="filters-component" data-controller="filters" data-testid="filtersoverlay">

                        <div class="moj-filter__header" style="padding: 0;">

                            <div class="moj-filter__header-action">
                            </div>

                        </div>

                        <div class="app-results-filter-overlay--heading-right">
                            <a href="#" class="govuk-link govuk-link--no-underline js-show-hide-filters filters-show-hide-mobile" data-module="return-to-results-link" data-testid="return-to-results-link">Return to results</a>
                        </div>

                        <div class="moj-filter__content">

                            <div class="moj-filter__selected">

                                <div class="govuk-!-padding-bottom-4" style="border-bottom: 1px solid #b1b4b6;">

                                    <div class="moj-filter__selected-heading">

                                        <div class="moj-filter__heading-title">
                                            <h2 class="govuk-heading-m">Filter results</h2>
                                        </div>

                                        <div class="moj-filter__heading-action">
                                            <p style="font-size: 16px"><a asp-page-handler="ClearFilters" class="govuk-link govuk-link--no-visited-state" data-testid="clearfilters">Clear filters</a></p>
                                        </div>

                                    </div>

                                    <!-- Remove filter - SubcategorySelection -->
                                    @if (Model.SubcategorySelection != null && Model.SubcategorySelection.Count > 0)
                                    {

                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Category</h3>
                                        @foreach (var subcategorySelection in Model.SubcategorySelection)
                                        {
                                            <ul class="moj-filter-tags filters-component__remove-tags">
                                                <li>
                                                    <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removesubcategorySelection" value="@subcategorySelection" data-testid="@subcategorySelection-remove">
                                                        <span class="govuk-visually-hidden">Remove this filter</span>
                                                        @Model.Categories.FirstOrDefault(c => c.Id == subcategorySelection)?.Name
                                                    </button>
                                                </li>
                                            </ul>
                                        }

                                    }

                                    <!-- Remove filter - cost -->
                                    @if (Model.CostSelection != null && Model.CostSelection.Count > 0)
                                    {
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Cost</h3>

                                        @foreach (var costSelected in Model.CostSelection)
                                        {
                                            <ul class="moj-filter-tags filters-component__remove-tags">

                                                <li>
                                                    <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeCostSelection" value="@costSelected" data-testid="@costSelected-remove">
                                                        <span class="govuk-visually-hidden">Remove this filter</span>
                                                        @(costSelected == "paid" ? "Pay to use" : costSelected.ToSentenceCase())
                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    }

                                    <!-- Remove filter - ServiceDeliverySelection -->
                                    @if (Model.ServiceDeliverySelection != null && Model.ServiceDeliverySelection.Count > 0)
                                    {
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery method</h3>

                                        @foreach (var serviceDeliverySelectionSelected in Model.ServiceDeliverySelection)
                                        {
                                            @if (serviceDeliverySelectionSelected == "1")
                                            {
                                                <ul class="moj-filter-tags filters-component__remove-tags">

                                                    <li>
                                                        <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeServiceDeliverySelection" value="@serviceDeliverySelectionSelected" data-testid="@serviceDeliverySelectionSelected-remove-delivery">
                                                            <span class="govuk-visually-hidden">Remove this filter</span>
                                                            In Person
                                                        </button>
                                                    </li>
                                                </ul>
                                            }
                                            @if (serviceDeliverySelectionSelected == "2")
                                            {
                                                <ul class="moj-filter-tags filters-component__remove-tags">

                                                    <li>
                                                        <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeServiceDeliverySelection" value="@serviceDeliverySelectionSelected" data-testid="@serviceDeliverySelectionSelected-remove-delivery">
                                                            <span class="govuk-visually-hidden">Remove this filter</span>
                                                            Online
                                                        </button>
                                                    </li>
                                                </ul>
                                            }
                                            @if (serviceDeliverySelectionSelected == "3")
                                            {
                                                <ul class="moj-filter-tags filters-component__remove-tags">

                                                    <li>
                                                        <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeServiceDeliverySelection" value="@serviceDeliverySelectionSelected" data-testid="@serviceDeliverySelectionSelected-remove-delivery">
                                                            <span class="govuk-visually-hidden">Remove this filter</span>
                                                            Telephone
                                                        </button>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    }

                                    <!-- Remove filter - SelectedLanguage -->
                                    @if (Model.SelectedLanguage != null)
                                    {
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Language</h3>

                                        <ul class="moj-filter-tags filters-component__remove-tags">

                                            <li>
                                                <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeSelectedLanguage" value="@Model.SelectedLanguage" data-testid="@Model.SelectedLanguage-remove">
                                                    <span class="govuk-visually-hidden">Remove this filter</span>
                                                    @Model.SelectedLanguage
                                                </button>
                                            </li>
                                        </ul>
                                    }

                                    <!-- Remove filter - ForChildrenAndYoungPeople -->
                                    @if (Model.ForChildrenAndYoungPeople == true && Model.SearchAge != null)
                                    {
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">For children and young people</h3>

                                        <ul class="moj-filter-tags filters-component__remove-tags">
                                            <li>
                                                <button type="submit" class="moj-filter__tag icon--cross filters-component__remove-tags__tag" asp-route-removeFilter=true name="removeSearchAge" value="@Model.SearchAge" data-testid="@Model.SearchAge-remove">
                                                    <span class="govuk-visually-hidden">Remove this filter</span>Age @Model.SearchAge
                                                </button>
                                            </li>
                                        </ul>
                                    }

                                </div>

                            </div>



                            <!-- <form action="/results-build" method="post"> -->

                            <div class="moj-filter__options" id="myFilter">

                                <button class="govuk-button govuk-!-margin-bottom-4" type="submit" data-module="govuk-button" data-prevent-double-click="true" asp-route-removeFilter=false data-testid="button-apply-filters">
                                    Apply filters
                                </button>

                                <div class="govuk-form-group">

                                    <!-- Categories -->
                                    <fieldset class="govuk-fieldset">                                    </fieldset>

                                    <div class="filters-component__groups result-filters">
                                        <div class="filters-component__groups__group" data-filters-target="group" data-group="subjects">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Category</h3></legend>
                                            <div>
                                                <div class="searchable-collection-component" style="margin-bottom: 20px;">
                                                    <div class="searchable-collection-component--only-scrollable">

                                                        @foreach (var categoryKV in @Model.NestedCategories)
                                                        {

                                                            <!-- Start category -->
                                                            <div class="govuk-form-group">

                                                                <fieldset class="govuk-fieldset">

                                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                                        @categoryKV.Key.Name
                                                                    </legend>

                                                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                                                        @foreach (var subcategory in categoryKV.Value)
                                                                        {
                                                                            <!-- Start sub-category -->
                                                                            <div class="govuk-checkboxes__item">
                                                                                <input class="govuk-checkboxes__input" id="@subcategory.Name.ToLower().Replace(" ", "")"
                                                                                       name="SubcategorySelection" data-testid="@subcategory.Name.ToLower().Replace(" ", "")"
                                                                                       type="checkbox"
                                                                                       value="@subcategory.Id"
                                                                                       @(Model.SubcategorySelection != null && Model.SubcategorySelection.Any(x => x == subcategory.Id) ? "checked" : "")>
                                                                                <label class="govuk-label govuk-checkboxes__label" for="@subcategory.Name.ToLower().Replace(" ", "")">
                                                                                    @subcategory.Name
                                                                                </label>
                                                                            </div>
                                                                            <!-- End sub-category -->
                                                                        }



                                                                    </div>


                                                                </fieldset>


                                                            </div>
                                                            <!-- End category -->
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- DONE - COST -->
                                    <div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                        <div>
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h3 class="govuk-fieldset__heading">Cost</h3>
                                                    </legend>
                                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input"
                                                                   id="cost"
                                                                   name="CostSelection"
                                                                   type="checkbox"
                                                                   value="free"
                                                                   @(Model.CostSelection != null && Model.CostSelection.Any(x => x == "free") ? "checked" : "")
                                                                   data-testid="checkbox-free">
                                                            <label class="govuk-label govuk-checkboxes__label" for="cost">
                                                                Free
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input"
                                                                   id="cost-2"
                                                                   name="CostSelection"
                                                                   type="checkbox"
                                                                   value="paid"
                                                                   @(Model.CostSelection != null && Model.CostSelection.Any(x => x == "paid") ? "checked" : "")
                                                                   data-testid="checkbox-paid">
                                                            <label class="govuk-label govuk-checkboxes__label" for="cost-2">
                                                                Pay to use
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- DONE - Children and young people -->
                                    <div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3">
                                        <div>
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h3 class="govuk-fieldset__heading">Children and young people</h3>
                                                    </legend>
                                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input"
                                                                   id="ForChildrenAndYoungPeople"
                                                                   name="ForChildrenAndYoungPeople"
                                                                   type="checkbox"
                                                                   value="true"
                                                                   role="button"
                                                                   aria-controls="ExpandForChildrenAndYoungPeopleLabel"
                                                                   aria-expanded="false"
                                                                   ria-labelledby="ForChildrenAndYoungPeopleLabel"
                                                                   @((Model.ForChildrenAndYoungPeople == true) ? "checked" : "")
                                                                   data-testid="checkbox-children">
                                                            <label class="govuk-label govuk-checkboxes__label" for="ForChildrenAndYoungPeople" id="ForChildrenAndYoungPeopleLabel">
                                                                For children and young people
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ExpandForChildrenAndYoungPeopleLabel">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label" for="ageNumber">
                                                                    Age
                                                                </label>
                                                                <select asp-for="SearchAge" asp-items="Model.AgeRange" class="govuk-select" data-testid="select-children">
                                                                    <option value="" selected disabled>Select age</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- DONE - Delivery method -->
                                    <div class="filters-component__groups__group">
                                        <div>
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h3 class="govuk-fieldset__heading">Delivery method</h3>
                                                    </legend>
                                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                                        @foreach (var item in Model.DictServiceDelivery)
                                                        {
                                                            <div class="govuk-checkboxes__item">
                                                                <input class="govuk-checkboxes__input"
                                                                       role="checkbox"
                                                                       id="@item.Value.ToLower().Replace(" ", "")"
                                                                       name="ServiceDeliverySelection"
                                                                       data-testid=@($"checkbox-{item.Value.ToLower().Replace(" ", "")}")
                                                                       type="checkbox"
                                                                       value="@item.Key"
                                                                       @(Model.ServiceDeliverySelection != null && Model.ServiceDeliverySelection.Any(x => x == item.Key.ToString()) ? "checked" : "")>
                                                                <label class="govuk-label govuk-checkboxes__label" for="@item.Value.ToLower().Replace(" ", "")">
                                                                    @item.Value.ToSentenceCase()
                                                                </label>
                                                            </div>
                                                        }
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- DONE - Language -->
                                    <div class="filters-component__groups__group">
                                        <div>
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h3 class="govuk-fieldset__heading">Language</h3></legend>
                                                    <select asp-for="SelectedLanguage" asp-items="Model.Languages" class="govuk-select" data-testid="select-language">
                                                        <option value="" selected disabled>Select language</option>
                                                    </select>
                                                    <br> <br>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DONE - Search Results -->
                <div class="govuk-grid-column-two-thirds vacancies_index">

                    @if (Model.SearchResults.TotalCount == 0)
                    {
                        <h2 class="govuk-heading-m" data-testid="noservicesfound">No services found</h2>
                        <p data-testid="trysearchingagain">Try searching again by changing or removing filters you applied.</p>
                    }
                    else
                    {
                        <ul class="search-results" role="list">
                            @foreach (var item in Model.SearchResults.Items)
                            {
                                <li role="listitem" tab-index="0">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                                        <a class="govuk-link" asp-page="/ProfessionalReferral/LocalOfferDetail" asp-route-id="@Guid.NewGuid().ToString()" asp-route-serviceid="@item.Id" data-testid=@item.Name.ToLower().Replace(" ", "")>@item.Name</a>
                                    </h2>
                                    <p class="govuk-caption-m">
                                        @if (@item?.Service_at_locations?.FirstOrDefault()?.Location?.Physical_addresses?.FirstOrDefault() != null)
                                        {
                                            @Model.GetAddressAsString(@item?.Service_at_locations?.FirstOrDefault()?.Location?.Physical_addresses?.FirstOrDefault() ?? new ServiceDirectory.Shared.Models.Api.OpenReferralPhysicalAddresses.OpenReferralPhysicalAddressDto())
                                            ;
                                        }
                                    </p>
                                    <dl class="govuk-body-s dtmargins">
                                        <dt class="govuk-!-font-weight-bold">Category</dt>
                                        <dd>
                                            @if (item != null && item.Service_taxonomys != null)
                                            {
                                                foreach (var serviceTaxonomy in item.Service_taxonomys)
                                                {
                                                    if (serviceTaxonomy != null && serviceTaxonomy.Taxonomy != null)
                                                    {
                                                        @serviceTaxonomy.Taxonomy.Name
                                                    }
                                                }
                                            }
                                        </dd>
                                    </dl>
                                    <dl class="govuk-body-s dtmargins">
                                        <dt class="govuk-!-font-weight-bold">Cost</dt>
                                        @if (item?.Cost_options?.FirstOrDefault()?.Amount != null && item?.Cost_options?.FirstOrDefault()?.Amount > 0)
                                        {
                                            <dd>£@item?.Cost_options?.FirstOrDefault()?.Amount every @item?.Cost_options?.FirstOrDefault()?.Amount_description.ToLower()</dd>
                                        }
                                        else
                                        {
                                            <dd>Free</dd>
                                        }
                                    </dl>
                                    <dl class="govuk-body-s dtmargins">
                                        <dt class="govuk-!-font-weight-bold">Delivery method</dt>
                                        <dd>
                                            @if (item?.ServiceDelivery != null && item?.ServiceDelivery.Count > 0)
                                                @Model.GetDeliveryMethodsAsString(item.ServiceDelivery)


                                        </dd>
                                    </dl>
                                    <dl class="govuk-body-s dtmargins">
                                        <dt class="govuk-!-font-weight-bold">Language</dt>
                                        <dd>
                                            @if (item?.Languages != null && item?.Languages.Count > 0)
                                                @Model.GetLanguagesAsString(item.Languages)

                                        </dd>
                                    </dl>
                                </li>
                            }

                            <!-- DONE - Navigation -->
                            @if (Model.SearchResults.TotalPages > 1)
                            {
                                <nav class="govuk-pagination" role="navigation" aria-label="results">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <div class="govuk-pagination__prev">
                                            <button type="submit" class="govuk-link govuk-pagination__link" name="CurrentPage" value="@(Model.CurrentPage-1)" rel="next">
                                                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                                </svg>
                                                <span class="govuk-pagination__link-title">Previous</span>
                                            </button>
                                        </div>
                                    }

                                    <ul class="govuk-pagination__list">
                                        @for (int i = 1; i <= Model.SearchResults.TotalPages; i++)
                                        {
                                            <li class="govuk-pagination__item @(Model.SearchResults.PageNumber == i ? "govuk-pagination__item--current" : "") ">
                                                <button type="submit" class="govuk-link govuk-pagination__link" name="CurrentPage" value="@i">@i</button>
                                            </li>
                                        }
                                    </ul>

                                    @if (Model.CurrentPage < Model.SearchResults.TotalPages)
                                    {
                                        <div class="govuk-pagination__next">
                                            <button type="submit" class="govuk-link govuk-pagination__link" name="CurrentPage" value="@(Model.CurrentPage+1)" rel="next">
                                                <span class="govuk-pagination__link-title">Next</span>
                                                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                </nav>
                            }

                        </ul>
                    }
                </div>
            }
        </form>
    </div>

</main>