@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ReferralDashboardModel
@{
}

<a asp-page="/ProfessionalReferral/ProfessionalHomepage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Referrals</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Phone</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Service</th>
            <th scope="col" class="govuk-table__header">Current Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
            @foreach (var item in @Model.ReferralList.Items)
            {
                <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@item.FullName</td>
                <td class="govuk-table__cell">@item.Phone</td>
                <td class="govuk-table__cell">@item.Email</td>
                <td class="govuk-table__cell">@item.ServiceName</td>
                <td class="govuk-table__cell">@item.Status?.LastOrDefault()?.Status</td>
                <td class="govuk-table__cell"><a asp-page="/ProfessionalReferral/ReferralDashboardDetails" asp-route-id="@item.Id">View Details</a></td>
                </tr>
            }
      </tbody>
</table>

   
</main>
