@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.SafeguardingModel
@{
}

<a asp-page="/ProfessionalReferral/ConnectFamilyToServiceStart" asp-route-id="@Model.Id" asp-route-name="@Model.Name" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
     <form method="post">
      <div class="govuk-form-group">
          <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is anyone in the family in danger or being harmed?
            </h1>
          </legend>
              @{
                    if (Model.ValidationValid == false)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must select one of the options
                        </p>
                    }
                }
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="safeguarding" name="IsImmediateHarm" type="radio" value="yes" @(Model.IsImmediateHarm != null && Model.IsImmediateHarm == "yes" ? "checked" : "")>
              <label class="govuk-label govuk-radios__label" for="safeguarding">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="safeguarding-2" name="IsImmediateHarm" type="radio" value="no" @(Model.IsImmediateHarm != null && Model.IsImmediateHarm == "no" ? "checked" : "")>
              <label class="govuk-label govuk-radios__label" for="safeguarding-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>
      </div>
        <button type="submit" class="govuk-button" asp-route-id="@Model.Id" asp-route-name="@Model.Name" asp-route-referralId="@Model.ReferralId">
        Continue
      </button>
    </form>
</main>
