@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ConsentModel
@{
}

@section Back {
    <a href="/ProfessionalReferral/ConnectFamilyToServiceStart?id=@Model.Id&name=@Model.Name" class="govuk-back-link">Back</a>
}

<form method="post">
    <input asp-for="@Model.Name" type="hidden">
    <input asp-for="@Model.Id" type="hidden">
    <div class="govuk-form-group">
        <div class="govuk-form-group ">

            @if (!Model.ValidationValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#service-name" data-testid="enter-service-name-error">Select whether you have permission from the family to share details.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Consent
                    </h1>
                </legend>
                <p>You must have consent from the family to give their details to the service.</p>
                <p class="govuk-body">Those details include:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>who to contact in the family</li>
                    <li>ways to contact the family</li>
                    <li>why the family needs help </li>
                </ul>
                <p>You can come back and connect the family to the service once you have consent.</p>
                <h2 class="govuk-heading-m">
                    Do you have consent from the family?
                </h2>
                <div class="govuk-radios govuk-radios--inline @(Model.ValidationValid == false ? "govuk-form-group--error" : "")" data-module="govuk-radios">
                    @{
                        if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select whether you have permission from the family to share details.
                            </p>
                        }
                    }
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="consent" name="IsConsentGiven" type="radio" value="yes" @(Model.IsConsentGiven != null && Model.IsConsentGiven == "yes" ? "checked" : "")>
                        <label class="govuk-label govuk-radios__label" for="consent">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="consent-2" name="IsConsentGiven" type="radio" value="no" @(Model.IsConsentGiven != null && Model.IsConsentGiven == "no" ? "checked" : "")>
                        <label class="govuk-label govuk-radios__label" for="consent-2">
                            No
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>
