@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.WhySupportModel
@{
    ViewData["Title"] = "Reason for the connection request";
}

@section Back {
    <a asp-page="/ProfessionalReferral/SupportDetails" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.TextAreaValidation != TextAreaValidation.Valid)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#reason" data-testid="summary-error">
                                    @GetValidationMessage(Model.TextAreaValidation)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l">Reason for the connection request</h1>

        <p>Use this to give the service details about the family, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>why the family needs help</li>
            <li>other organisations currently working with the family</li>
            <li>if any family members have mental health conditions or special educational needs or disabilities</li>
            <li>important things to note such as domestic abuse</li>
        </ul>

        <form method="post">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group @(Model.TextAreaValidation != TextAreaValidation.Valid ? "govuk-form-group--error" : "")">

                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="reason">
                            What do you want to tell the service?
                        </label>
                    </h1>

                    @if (Model.TextAreaValidation != TextAreaValidation.Valid)
                    {
                        <p class="govuk-error-message" id="exceeding-characters-error">
                            <span class="govuk-visually-hidden">Error:</span> @GetValidationMessage(Model.TextAreaValidation)
                        </p>
                    }

                    <textarea asp-for="TextAreaValue" class="govuk-textarea govuk-js-character-count @(Model.TextAreaValidation != TextAreaValidation.Valid ? "govuk-textarea--error" : "")"
                              rows="10" id="reason" aria-describedby="reason-info exceeding-characters-error"></textarea>
                </div>

                <div id="reason-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 500 characters
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>

@functions {

    public static string GetValidationMessage(TextAreaValidation validation)
    {
        switch (validation)
        {
            case TextAreaValidation.TooLong:
                return "Reason for the connection request must be 500 characters or less";
            case TextAreaValidation.Empty:
                return "Enter reason for the connection request";
            default:
                return "";
        }
    }
}