@page
@model FamilyHubs.ServiceDirectory.Ui.Pages.Vcs.ShowReferralSummaryModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Families Referred</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Phone</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Service</th>
          <th scope="col" class="govuk-table__header">Current Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            @foreach(var item in @Model.ReferralList.Items)
            {
                <th scope="row" class="govuk-table__header">@item.FullName</th>
                <td class="govuk-table__cell">@item.Phone</td>
                <td class="govuk-table__cell">@item.Email</td>
                <td class="govuk-table__cell">@item.ServiceName</td>
                <td class="govuk-table__cell">@item.Status?.LastOrDefault()?.Status</td>
                <td class="govuk-table__cell"><a asp-page="/Vcs/ShowReferralDetails" asp-route-id="@item.Id">View Details</a></td>
            }
          
        </tr>
      </tbody>
    </table>
</main>

