@model ITellTheServicePageModel

<partial name="_ErrorSummaryNext" for="@Model.ErrorState"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @* we _could_ pass the heading, lead in and ul items *@
        <partial name="@Model.DescriptionPartial" />

        <form method="post">

            @{ Error? error = Model.ErrorState.GetErrorIfTriggered();}

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group @(error != null ? "govuk-form-group--error" : "")">

                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="reason">
                            Enter details
                        </label>
                    </h2>

                    @if (error != null)
                    {
                        <p class="govuk-error-message" id="reason-error">
                            <span class="govuk-visually-hidden">Error:</span> @error.ErrorMessage
                        </p>
                    }

                    <textarea asp-for="TextAreaValue" class="govuk-textarea govuk-js-character-count @(error != null ? "govuk-textarea--error" : "")"
                              rows="10" id="reason" aria-describedby="reason-info @(error != null ? "reason-error" : "")"></textarea>
                </div>

                <div id="reason-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 500 characters
                </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
