@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ISingleTextboxPageModel
<!-- This control can only be used when there are no other inputs on the page -->
@if (!Model.ValidationValid)
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title" id="@Model.ErrorId">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#textbox" data-testid="summary-error">@Model.MainErrorText</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="govuk-form-group @(Model.ValidationValid ? "": "govuk-form-group--error")">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="textbox">
            @Model.HeadingText
        </label>
    </h1>
    @*todo: check which should be hint*@
    @if (!string.IsNullOrEmpty(Model.HintText))
    {
        <div id="hint" class="govuk-hint">
            @Model.HintText
        </div>
    }
    @if (!Model.ValidationValid)
    {
        <p id="error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> @Model.TextBoxErrorText
        </p>
    }
    <label class="govuk-label" for="textbox">
        @Model.TextBoxLabel
    </label>
    <input asp-for="TextBoxValue" class="govuk-input @(Model.ValidationValid ? "" : "govuk-input--error")"
           spellcheck="false" autocomplete="TextBoxValue" id="textbox" name="TextBoxValue" value="@Model.TextBoxValue"
           aria-describedby="hint error">
</div>
<button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
</button>

